:root {
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --bg: #f8fafc;
  --card-bg: #ffffff;
  --text: #1e293b;
  --danger: #ef4444;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

#app {
  width: 100%;
  max-width: 450px;
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

h1, h2 { text-align: center; margin-bottom: 1.5rem; }

/* Styling Form & Input */
form { display: flex; flex-direction: column; gap: 10px; margin-bottom: 2rem; }

input {
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s;
}

input:focus { border-color: var(--primary); }

button {
  padding: 12px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover { background-color: var(--primary-hover); }

/* List Item Styling */
ul { list-style: none; padding: 0; }

li {
  background: #f1f5f9;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-delete {
  background-color: transparent;
  color: var(--danger);
  padding: 5px 10px;
  font-size: 0.8rem;
}

.btn-delete:hover { background-color: #fee2e2; }

/* Header Logout */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.search-container {
  margin-bottom: 20px;
}

#search-input {

  border-radius: 25px; /* Membuatnya lebih bulat */
  padding: 12px;
  background-color: #f1f5f9;
  border: 1px solid #cbd5e1;
}